body {

  margin: 30px;

  font-family: monospace;

  text-align: center;

  background: #111;

  color: #0cf6be;

}

.result {

  font-size: 3em;

}

form {

  margin: 30px;

}

.input {

  -webkit-appearance: none;

}
